<header class="d-flex justify-content-between">
    <section class="d-flex align-items-center">
        <section class="app_logo">
            <figure class="m-0">
                <img src="../assets/images/logo.png" height="50px" alt="App Logo"/>
            </figure>
        </section>

        <section class="app__location ms-3">
            APP Location
        </section>
    </section>
    <section class="app__menu__option">
        <button type="button" class="btn btn-light rounded-circle">
            <i class="material-icons" style="font-size: 16px">logout</i>
        </button>
        <button type="button" class="btn btn-light rounded-circle">
            <i class="material-icons" style="font-size: 16px">notifications</i>
        </button>
        <button type="button" class="btn btn-light rounded-circle">
            <i class="material-icons" style="font-size: 16px">shopping_cart</i>
        </button>
    </section>
</header>