<!-- {{
usersList | json
}} -->


<div class="d-flex ">
    <div class="row">
        <!-- <div class="card col-2 m-2" *ngFor="let user of usersList">
            <img height="200px" [src]="user.image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> {{user?.firstName}} {{user?.lastName}} (age: {{user.age}})</h5>
                <p class="card-text">{{user.university}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->
        <!--  <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">FistName</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col">Email</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersList; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.age}}</td>
                        <td>{{user.birthDate}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <figure class="m-0">
                                <img [src]="user.image" height="60" alt="user-image" />
                            </figure>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->


        <!--  <div class="row">
            <div class="col-1 m-2" *ngFor="let user of (usersList?.users | async)">
                
                <button class="btn btn-primary " (click)="onUserButtonClick(user)"> {{user.firstName}} </button>
            </div>
        </div>

        <p> User Details</p>

        {{userDetails | json}} -->

    </div>
</div>

<button class="btn btn-primary" (click)="onAddProduct()"> Add Product </button>


<div class="row">
    <div class="col m-4" *ngFor="let product of allProducts">
        <!-- {{product | json}} -->
        <div class="card" style="width: 18rem;">
            <img [src]="product?.images[0]" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product?.title}}</h5>
                <p class="card-text">{{product?.description}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>