<div class="row" id="app__header">
    <div class="col">
        <figure class="m-0">
            <img src="./assets/images/logo.png" height="60" alt="" />
        </figure>
    </div>
    <div class="col">
        <div class="d-flex flex-row-reverse align-items-center" id="header__options">
            <i class="material-icons" (click)="userLogout()">logout</i>
            <i class="material-icons fs-1 text-secondary">account_circle</i>
            <div> User Name</div>
        </div>
    </div>
</div>