
.box{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 50px;
}

.app__menus{
    padding-left: 0px;
    li{
        list-style-type: none;
        cursor: pointer;
        line-height: 30px;
        background-color: #0166b2;
        color: #fff;
        padding-left: 5px;
        border-bottom: 1px solid #FFF;
    }
    li:hover{
        background-color: #6f6f6f;
    }
}

.app__menu_items{}