<!-- <section class="container">
    <app-help-line></app-help-line>
    <app-header></app-header>
    <app-footer></app-footer>
</section>  -->



<p> X Value : {{x}}</p>
<p> Y Value : {{y}}</p>

<button type="button" class="btn btn-primary" (click)="sum()"> Sum </button>
<button type="button" class="btn btn-success ms-2" (click)="multi()"> Multi </button>
<button type="button" class="btn btn-info ms-2" (click)="sub()"> Sub </button>
<button type="button" class="btn btn-danger ms-2" (click)="mod()"> Mod </button>
<br/>
------------------------
<p> Sum : {{c}}</p>

<button type="button" class="btn btn-primary" (click)="showBox()"> Show</button>
<button type="btton" class="btn btn-danger ms-2" (click)="hideBox()"> Hide </button>

<button type="button" class="btn btn-primary ms-2" (click)="updateBoxStatus()"> Show/Hide</button>


<div class="box" id="box1" *ngIf="boxStatus"></div>

