.user__login__container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../../../assets/images/bg-image.jpeg');


}

.user__login__form__container {
    background-color: #fFFFFF;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
}