
<button class="btn btn-primary" (click)="updateData()"> Update Data </button>


<p> X Value is: {{mathObject.x}}</p>
<p> Y Value is: {{mathObject.y}}</p>

<div *ngIf="showElements">

  <p>Sum: {{mathObject | mathOperations: ' sum' }} </p>
  <p>Multi: {{mathObject | mathOperations: 'multi' }}</p>
  <p>Sub: {{mathObject | mathOperations: 'sub' }}</p>
  <p> Div: {{mathObject | mathOperations: 'div' }}</p>
</div>


  <button class="btn btn-primary" (click)="updateABCData()"> Update ABC Object </button>

  <p> X Value is: {{abcObject.x}}</p>
<p> Y Value is: {{abcObject.y}}</p>