/* You can add global styles to this file, and also import other style files */




/* @font-face {
    font-family: abc;
    src: url('./assets/fonts/remachine-script/RemachineScript_Personal_Use.ttf');
    font-weight: bold;
    font-style: italic;

}

body {
    margin: 0px;
    padding: 0px;
    font-family: abc !important;
    font-size: 20px;

} */

